/* Select */
.__select {
  position: relative;
  display: flex;
  width: 230px;
  height: 40px;
  margin: 0 auto;
  z-index: 1;
}
.__select[data-state=active] .__select__title::before {
  transform: translate(-3px, -50%) rotate(-45deg);
}
.__select[data-state=active] .__select__title::after {
  transform: translate(3px, -50%) rotate(45deg);
}
.__select[data-state=active] .__select__content {
  border-width: 1px;
  border-color: #c7ccd1;
}
.__select[data-state=active] .__select__label {
  max-height: 40px;
  border-width: 1px;
}
.__select[data-state=active] .__select__label::before {
  opacity: 1;
}

.__select__title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  border-radius: 5px;
  border: solid 1px #c7ccd1;
  cursor: pointer;
  z-index: 2;
}
.__select__title::before, .__select__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  display: block;
  width: 10px;
  height: 2px;
  transition: all 0.3s ease-out;
  background-color: #333333;
  transform: translate(-3px, -50%) rotate(45deg);
}
.__select__title::after {
  transform: translate(3px, -50%) rotate(-45deg);
}
.__select__title:hover {
  border-color: #D8093A;
}
.__select__title:hover::before, .__select__title:hover::after {
  background-color: #D8093A;
}

.__select__content {
  position: absolute;
  top: 40px;
  left: 3px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 6px);
  background-color: #ffffff;
  border: 1px solid rgba(199, 204, 209, 0);
  border-top-width: 0;
  border-bottom-width: 0;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 0.3s ease-out;
  z-index: 1;
}

.__select__input {
  display: none;
  pointer-events: none;
}
.__select__input:checked + label {
  background-color: #dedede;
}
.__select__input:checked + label::after {
  content: attr(data-value);
}
.__select__input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}

.__select__label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  padding: 0 16px;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
.__select__label + input + .__select__label {
  border-top: 0 solid rgba(199, 204, 209, 0.3764705882);
}
.__select__label:hover {
  background-color: #D8093A !important;
  color: #ffffff;
}
.__select__label::before {
  content: attr(data-value);
  transition: all 0.2s ease-out;
  opacity: 0;
}
.__select__label::after {
  position: absolute;
  top: -40px;
  left: 0;
  display: flex;
  align-items: center;
  width: 200px;
  height: 40px;
  padding: 8px 16px;
  color: #333333;
  z-index: -1;
}