/* Общие стили */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #E5E5E5;
}

a {
    cursor: pointer;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

/* Стилизация касаемо макета */

html {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    scroll-behavior: smooth;
}

.main__container {
    width: 2678px;
    height: 640px;
    margin-left: auto;
    margin-right: auto;
    background: #424242;
}

.content {
    padding-left: 92px;
    padding-top: 70px;
    display: flex;
}

/* Checkbox */

.checkbox {
    background: #FFFFFF;
    border-radius: 10px;
}

.checkbox__form {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.checkbox__title {
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
}

.checkbox__label {
    margin-top: 20px;
    padding-left: 25px;
    cursor: pointer;
    position: relative;
}

.checkbox__marker {
    display: none;
}

.checkbox__marker + span {
    position: absolute;
    top: 2px;
    left: 0;
    width: 15px;
    height: 15px;
    text-align: center;
    border: 1px solid #999999;
    border-radius: 3px;
    transition: border-color .3s ease-in-out;
}

.checkbox__marker + span::before {
    content: url('../img/marker.svg');
    position: absolute;
    top: -4px;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.checkbox__marker:checked + span::before {
    opacity: 1;
}

.checkbox__marker:checked + span {
    border-color: #CCB26E;
}
