/* Общие стили */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #E5E5E5;
}

a {
    cursor: pointer;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

/* Стилизация касаемо макета */

html {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    scroll-behavior: smooth;
}

.main__container {
    width: 2444px;
    height: 640px;
    margin-left: auto;
    margin-right: auto;
    background: #424242;
}

.content {
    padding-left: 92px;
    padding-top: 70px;
    display: flex;
}

/* Checkbox */

.checkbox {
    background: #FFFFFF;
    border-radius: 10px;
    height: 319px;
}

.checkbox__form {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.checkbox__title {
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
}

.checkbox__label {
    margin-top: 20px;
    padding-left: 25px;
    cursor: pointer;
    position: relative;
}

.checkbox__marker {
    display: none;
}

.checkbox__marker + span {
    position: absolute;
    top: 2px;
    left: 0;
    width: 15px;
    height: 15px;
    text-align: center;
    border: 1px solid #999999;
    border-radius: 3px;
    transition: border-color .3s ease-in-out;
}

.checkbox__marker + span::before {
    content: url('../img/marker.svg');
    position: absolute;
    top: -4px;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.checkbox__marker:checked + span::before {
    opacity: 1;
}

.checkbox__marker:checked + span {
    border-color: #CCB26E;
}


/* Map */

.map {
    margin-left: 58px;
}

.ymaps-2-1-79-gototech,
.ymaps-2-1-79-gotoymaps,
.ymaps-2-1-79-copyright {
    display: none;
}

/* Scroll */

.scroll {
    width: 399px;
    height: 310px;
    margin-left: 58px;
}

.customScroll {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 29px; 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: #333333;
    background-color: #FFFFFF;
}

.simplebar-scrollbar::before {
    background: #CCB26E;
    border-radius: 5px;
}

.simplebar-scrollbar.simplebar-visible:before {
    /* When hovered, remove all transitions from drag handle */
    opacity: 1;
    transition: opacity 0s linear;
}

/* Validate */

.validation {
    width: 440px;
    height: 410px;
    margin-left: 58px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.form{
    width: 380px;
    margin: 0 auto;
    margin-top: 20px;
}

.form input {
    width: 100%;
    height: 60px;
    display: block;
    margin-bottom: 20px;
    border: 1px solid #FF5C00;
    border-radius: 10px;
    padding-left: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #999999;
}

.form__btn {
    width: 192px;
    height: 60px;
    margin-top: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    background: #FF5C00;
    border: none;
    border-radius: 10px;
}

/* Tooltips */

.tooltips {
    width: 375px;
    height: 160px;
    padding: 20px 78px 20px 29px;
    margin-left: 58px;
    background: #FFFFFF;
}

.tooltip {
    position: relative;
}

.marker {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: #333333;
}

.mark {
    text-align: center;
    cursor: pointer;
}

.marker-icon {
    transform: translate(2px, 3px);
}

.popup {
    position: absolute;
    top: 40px;
    left: 120px;

    width: 163px;
    max-width: 163px;
    min-height: 31px;
    padding: 8px 15px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    background: #666666;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.mark:hover svg path {
    fill: #CCB26E;
}
.mark:hover + .popup,
.mark:focus + .popup {
    opacity: 1;
}