/* Select */

.__select {
    position: relative;

    display: flex;
    width: 176px;
    height: 39px;
    margin: 0;
    margin-left: 58px;

    z-index: 1;
    
    &[data-state="active"] {
        .__select__title {
            border: 1px solid #CCB26E;
            
            &::before {
                transform: translate(-3px, -50%) rotate(-45deg);
                background-color: #CCB26E;
            }
    
            &::after {
                transform: translate(3px, -50%) rotate(45deg);
                background-color: #CCB26E;
            }
        }

        .__select__content {
            border-width: 1px;
            
            border-color: rgba(#CCB26E, 1);
        }

        .__select__label {
            max-height: 40px;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            
            &::before {
                opacity: 1;
            }
        }
    }
}

.__select__title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 9px 15px;

    border-radius: 10px;
    
    cursor: pointer;
    
    z-index: 2;

    &::before,
    &::after {
        content: "";

        position: absolute;
        top: 50%;
        right: 15px;
    
        display: block;
        width: 9.3px;
        height: 1px;
    
        transition: all 0.3s ease-out;
    
        background-color: #666666;
    
        transform: translate(-3px, -50%) rotate(45deg);
    }
    &::after {
        transform: translate(3px, -50%) rotate(-45deg);
    }

    &:hover {
        border: 1px solid #CCB26E;
    
        &::before,
        &::after {
            background-color: #CCB26E;
        }
    }
}

.__select__content {
    position: absolute;
    top: 20px;
    padding-top: 18px;
    left: 0;

    display: flex;
    flex-direction: column;
    width: 100%;

    background-color: #ffffff;

    border: 1px solid rgba(#CCB26E, 0);
    border-top-width: 0;
    border-bottom-width: 0;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    transition: all 0.3s ease-out;

    z-index: 1;
}
.__select__input {
    display: none;
    pointer-events: none;

    &:checked + label {
        background-color: #dedede;
        border-radius: 10px;
        
        &::after {
            content: attr(data-value);
        }
    }
    &:disabled + label {
        opacity: 0.6;
        pointer-events: none;
    }
}
.__select__label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    max-height: 0;
    padding: 0 16px;
    
    transition: all 0.2s ease-out;

    cursor: pointer;

    &:hover {
        background-color: #CCB26E !important;
        border-radius: 10px;
    }

    &::before {
        content: attr(data-value);
        
        transition: all 0.2s ease-out;
        
        opacity: 0;
    }
    &::after {
        position: absolute;
        top: -20px;
        left: -1px;
        
        display: flex;
        align-items: center;
        width: calc(100% + 2px);
        height: 39px;
        padding: 9px 17px;
        
        background: #FFFFFF;
        border-radius: 10px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #333333;
        
        z-index: -1;
    }
}